<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="ApplicationConfigurationSection" type="EvernoteCommon.Configuration.ApplicationConfigurationSection, EvernoteCommon" allowLocation="true" allowDefinition="Everywhere" />
  <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />-->
  </configSections>
  <ApplicationConfigurationSection name="0" environmentType="QA" />
  <appSettings>
    <!-- PROFILES WOULD GO HERE-->
    <!-- PROFILE 1-->
    <!-- <add key="username" value="endacarroll2008@gmail.com"-->

    <add key="username" value="endacarroll02@yahoo.ie" />
    <!--<add key="driver" value="Firefox" />-->
    <add key="TestingApplicationUri" value="https://www.evernote.com/Login.action" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" />
    </defaultProxy>
  </system.net>
  <system.web>
    
  </system.web>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
</specFlow>
</configuration>