<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.1" targetFramework="net452" />
  <package id="AutoMapper" version="4.1.1" targetFramework="net452" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft_Composite_library_package" version="1.0.0" targetFramework="net452" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net452" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net452" />
  <package id="NLog" version="5.0.0-beta11" targetFramework="net452" />
  <package id="NodaTime" version="2.3.0-beta01" targetFramework="net452" />
  <package id="NUnit" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Core.Engine" version="3.0.0-beta-4" targetFramework="net452" />
  <package id="NUnit.Engine.Api" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.35.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.19.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.11.1" targetFramework="net452" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net452" />
  <package id="SpecFlow.Autofac" version="1.1.0-pre20171024" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="2.2.1" targetFramework="net452" />
  <package id="SpecFlow.NUnit.Runners" version="2.2.1" targetFramework="net452" />
  <package id="SpecRun.Runner" version="1.7.0-rc001" targetFramework="net452" />
  <package id="System.Collections" version="4.3.0" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net452" />
  <package id="System.IO" version="4.3.0" targetFramework="net452" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net452" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net452" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net452" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net452" />
  <package id="TransformVsConfiguration.CommandLine" version="1.0.0.21356" targetFramework="net452" />
  <package id="VisualStudio.gitignore" version="1.0.1.0" targetFramework="net452" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net452" />
</packages>